<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body>

    <h1>Task Dashboard</h1>
    
    <div id="notification"></div>

    <form method="POST">

        <input type="text" name="title" placeholder="Task Title" required>

        <br><br>

        <textarea name="description" placeholder="Task Description"></textarea>

        <br><br>

        <input type="text" name="priority" placeholder="Priority">

        <br><br>

        <input type="text" name="status" placeholder="Status">

        <br><br>

        <button type="submit">Add Task</button>

    </form>

    <hr>

    <h2>Task Analytics</h2>

    <p>Total Tasks: {{ analytics.total_tasks }}</p>

    <p>Completed Tasks: {{ analytics.completed_tasks }}</p>

    <p>Pending Tasks: {{ analytics.pending_tasks }}</p>

    <p>Completion Percentage: {{ analytics.completion_percentage }}%</p>

    <hr>
    
    <h2>All Tasks</h2>

    {% for task in tasks %}

        <div>

            <h3>{{ task.title }}</h3>

            <p>{{ task.description }}</p>

            <p>Priority: {{ task.priority }}</p>

            <p>Status: {{ task.status }}</p>

            <br><br>

            <a href="/edit-task/{{ task.id }}">
                Edit
            </a>

            <a href="/delete-task/{{ task.id }}">
                Delete
            </a>

            <hr>

        </div>

    {% endfor %}

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <script>

        const socket = io();

        socket.on("connect", function() {
            console.log("Socket connected");
        });

        socket.on("new_task", function(data) {

            console.log("Event received");

            document.getElementById("notification").innerHTML = `
                <h3 style="color:green;">
                    ${data.message}
                </h3>
            `;

        });

    </script>

</body>
</html>